@media (max-width: 768px) {
    .container {
        width: 80%;
        min-width: 29rem;
    }

    .informations-user {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0rem;
    }

    .joined-user {
        margin-bottom: 1rem;
    }

    .description {
        display: none;
    }

    .description-mobile {
        display: flex;
        color: #B3B7C1;
        max-width: 33rem;
        margin-top: 0.5rem;

        font-size: 17px;
    }

    .user-informations {
        align-items: flex-start;
    }

    .informations-repo {
        min-width: 100%;
    }

    .container-informations-repo {
        gap: 3.5rem;
    }
}

@media (max-width: 481px) {
    main {
        min-height: 95dvh;
    }

    h1 {
        font-size: 30px;
    }

    .container {
        width: 50%;
        min-width: 22rem;
    }

    .user-principal {
        gap: 1rem;
    }

    .user-container {
        padding: 0.5rem;
    }

    .image-user {
        max-width: 4rem;
    }

    .informations-repo {
        min-width: 65%;
    }

    .container-informations-repo {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }

    .username {
        font-size: 20px;
    }

    .joined-user {
        margin-top: 0rem;
        font-size: 14px;
    }

    .description-mobile {
        font-size: 15px;
        margin-bottom: 2rem;    
    }

    .search-icon {
        margin-left: 0rem;
    }

    .container-informations-repo {
        gap: 2rem;
    }

    .container-social-media {
        flex-direction: column;
        gap: 0rem;
        margin-top: 1.5rem;
    }

    .column-1 > *, .column-2 > * {
        gap: 1rem;
        height: 2rem;
    }

    .Name {
        font-size: 14px;
    }

    .Name-Number{
        font-size: 17px;
    }

    .search-container {
        gap: 0.5rem;
        padding: 0.6rem;
    }

    .column-1 > div > p, .column-2 > div > p {
        font-size: 15px;
    }

    input {
        font-size: 13.5px;
    }

    button {
        font-size: 15px;
    }
}